header{
    min-width: 100%;
    min-height:100%;
    background:url(../img/banner.png)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-light-gray{
    background: #EDF9F9;
}

#apps, #collaborators{
    padding-bottom: 5%;
}

#apps .application-outline img{
    
    margin-bottom: 5%;
}

#collaborators img{
    display: inline;
}

.navbar-inverse {
    background-color: #4C616B;
}

.screenshots{
    height: 250px;
    width: 500px;
}